@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    /* scroll-behavior: smooth; */
}

@layer base {
    :root[data-theme="light"] {
        --bg-1: 244 162 97;
        --bg-2: 230 127 122;
        --bg-3: 189 109 142;
        --content-1: 104 68 117;
        --content-2: 43 53 85;
        --accent-1: 17 35 47;
    }

    :root[data-theme="dark"] {
        --accent-1: 244 162 97;
        --content-2: 230 127 122;
        --content-1: 189 109 142;
        --bg-3: 104 68 117;
        --bg-2: 43 53 85;
        --bg-1: 17 35 47;
    }
}
